<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Traceability Main Menu</title>
    <link rel="stylesheet" href="\static\dashboard.css">
</head>
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
    const HOST = "{{ HOST }}";
    const PORT = "{{ PORT }}";
    const WTYPE = "{{ WTYPE }}";
    const sessionData = localStorage.getItem('session');
    if (!sessionData) {
        window.location.href = "/";  // Redirect to login
    }
</script>
<body>
    <div class="mainmenu-container">
        <h2>Traceability Main Menu</h2>
        <div id="userContainer"></div>
        <div id="qr-reader" style="width: 300px; margin-top: 20px;"></div>
        <div id="qr-reader-results"></div>
        <br>
        <button id="mainMenuBtn" style="background-color:green;">Main Menu</button>
        <br><br>
        <button id="logOutBtn" style="background-color:red;">LOGOUT</button>
    </div>

    <script>

        const jsonData = JSON.parse(sessionData);
        let user = jsonData.login_id;
        let userContainer = document.getElementById("userContainer");

        userContainer.innerHTML = `<p style="text-align:left;">Login ID : ${user}</p>`;
        
        document.getElementById("mainMenuBtn").addEventListener("click", async function() {
            window.location.href = "/";  // Redirect to dashboard
        });

        document.getElementById("logOutBtn").addEventListener("click", async function() {
            const sessionData = localStorage.getItem('session');
            const sessionJSON = JSON.parse(sessionData);
            const loginId = sessionJSON.login_id;
            const response = await fetch("http://" + HOST + ":" + PORT + "/logout", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ loginId })
            });
            //const data = await response.json();
            localStorage.removeItem("session"); // Remove local session
            //alert("Logout successful!");
            window.location.href = "/";  // Redirect to dashboard
        });
    </script>
    <script>
        function docReady(fn) {
            // See if DOM is already available
            if (document.readyState === "complete" || document.readyState === "interactive") {
                // Call on next available tick
                setTimeout(fn, 1);
            } else {
                document.addEventListener("DOMContentLoaded", fn);
            }
        }    
        
        docReady(function () {
            var resultContainer = document.getElementById('qr-reader-results');
            var lastResult, countResults = 0;
        
            async function onScanSuccess(decodedText, decodedResult) {
                if (decodedText !== lastResult) {
                    ++countResults;
                    lastResult = decodedText;
                    //console.log(`Scan result ${decodedText}`, decodedResult);
                    alert("QR Code detected! Finding in database...");
                    //resultContainer.innerHTML = `<h3>Scanned QR Code:</h3><p>${decodedText}</p>`;
                    const response = await fetch("http://" + HOST + ":" + PORT + "/updatedata", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({ user ,decodedText ,WTYPE })
                    });
                    const data = await response.json();
                    if (data.success) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                    window.location.href = "dashboard";  // Redirect to dashboard
                }
            }
        
            var html5QrcodeScanner = new Html5QrcodeScanner(
                "qr-reader", { fps: 10, qrbox: 250 });
        
            html5QrcodeScanner.render(onScanSuccess);
        });
        </script>

</body>
</html>
